script(type="text/javascript", src="http://localhost:5555/javascripts/jquery.js")
script(type="text/javascript", src="http://localhost:5555/javascripts/jquery-ui.js")
script(type="text/javascript", src="http://localhost:5555/javascripts/json2.js")
script(type="text/javascript", src="/javascripts/_thumbnailCarousel.js")
script(type="text/javascript", src="/browserify.js")